:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  body {
    margin-top: 100px;
  }
  
  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  
  p {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  .panel {
    max-height: 60px;
  }
  .panel h3 {
    margin-top: 20px;
  }
  .information h1 {
    font-size: 90px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0px;
  }
  .information h2 {
    margin-top: 80px;
    font-size: 48px;
  }
  .information {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .about-information {
    margin-top: 80px;
  }
  .name {
    margin-left: 40px;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs {
    margin: 15px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  .row {
    display: flex;
  
    justify-content: center;
  }
  .container {
    display: flex;
    max-width: 80%;
    justify-content: center;
    margin-top: 30px;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .col-md-6 {
    flex: 0 0 auto;
    max-width: 50%;
    height: auto;
  }
  .primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    text-align: left;
  }
  p {
    font-size: 26px;
    line-height: 1.5;
    display: block;
    background-color: white;
    text-align: center;
    height: fit-content;
  }
  .mt-5 {
    display: block;
  }
  .link-about {
    max-width: 250px;
  }
  .contact {
    font-size: 48px;
  }
  #contact {
    margin-top: 40px;
  }
 
  @media (max-width: 576px){
  .information h1{
    font-size:34px;
    line-height: 1.5;
  } 
  .information h2{
    font-size: 30px;
    line-height: 1.5;
  }
  .container .col-sm-4{
    margin-top: 20px;
  }
  .contact{
    font-size: 26px;
  }
  .img-page{
    display: none;
  }
  p{
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin-top: 20px;
   
  }
  div.container{
    
    font-size: 16px;
    min-width: 90%;
    min-height: 90%;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  .mt-5{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .primary-link{
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}